@import '../../assets/style/utils/color.scss';

.container_wrapper {
  background: $ligh-pink url('./src/assets/images/background-pattern-desktop.svg') 0 0/auto 320px no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: $white;
  width: 600px;
  min-height: 566px;
  margin: 169px auto;
  border-radius: 20px;

}

.title_wrapper {
  display: flex;
  margin: 44px 40px 18px 40px;
}

.title {
  font-size: 3em;
  font-weight: 700;
}

#starSvg {
  margin-right: 30px;
}

.accordions_wrapper {
  margin: 0 40px;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 200px 20px;
    min-height: 514px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 415px) {
  .container {
    min-width: 375px;
  }
}