@import '../../assets/style/utils/color.scss';
.accordion_wrapper {
  &:last-child {
    border-bottom: none;
  }
  border-bottom: 1px solid lightgrey;
  padding: 1.2rem 0;
}

.question {
  &:hover, &:focus {
    color: $sweet-desire;
  }
  background-color: $white;
  font-size: 16px;
  font-weight: 600;
  color: $dark-purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1.3rem;
}

.answer_text {
  color: $grayish-purple;
  line-height: 1.5;
  padding-top: 1.2rem;
}

.question_text {
  text-align: left;
  font-size: 1.125em;
}

@media screen and (min-width: 600px) {
  .question {
    gap: 1.5rem;
  }

  .question_text {
    font-size: 1.1em;
  }

  #buttonSvg {
    width: auto;
    height: 43px;
  }

  .answer_text {
    font-size: 1.1em;
  }
}

